.topRow {
    /*background-color: gray;*/
    background-image: url(../food-bkg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 585px;
    width: 100vw;
    padding: 100px;
  }

  .topRow.row {
    margin: 0;
  }
  
  .contain  h1 {
    color: #434343;
    font: 32px Montserrant, sans-serif;
    text-align: center;
  }
  
  .contain  p {
    color: #434343;
    font: 20px Montserrant, sans-serif;
    text-align: center;
    vertical-align: middle;
  }
  .buttonBox {
    margin: auto;
    background-color: white;
    max-width: 300px;
    height: 300px;
    padding: 70px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
  align-items: center;
  justify-content: center;
  }
  
  .btnContainer {
    text-align: center;
  }
  footer.page-footer {
    margin: 0 !important;
  }
  
  .block {
    margin-bottom: 25px;
  }
  
  #hide {
    display: block;
  }

  @media screen and (max-width: 768px) {
    #hide {display: none;}
  
  }

  